 table {
     font-family: Verdana, sans-serif;
     font-size: 11px;
     border-collapse: collapse;
     border-radius: 25px;
     border: 1px solid lightgrey;
 }
 
 .pages {
     background: none;
     border: 1px solid transparent;
     border-radius: 5px;
     padding: 2px;
     margin: 0;
 }
 
 tfoot tr td :last-child {
     text-align: right;
 }
 
 .pages:hover {
     border-color: red;
 }
 
 #firstPage {
     border-color: red;
 }
 
 #firstColumn {
     width: 70px;
 }
 
 #secondColumn {
     width: 200px;
 }
 
 #thirdColumn {
     width: 160px;
 }
 
 #fourthColumn {
     width: 150px;
 }
 
 #fifthColumn {
     width: 170px;
 }
 
 table tr,
 td,
 th {
     border: 1px solid lightgrey;
 }
 
 thead,
 tfoot {
     background-color: #e7e9eb;
 }
 
 .filter {
     border: none;
     width: 22px;
     height: 22px;
     background-image: url("images/filter.gif");
 }
 
 .skipToStart {
     border: none;
     width: 22px;
     height: 22px;
     background-image: url("images/skipToStart.gif");
 }
 
 .skipToEnd {
     border: none;
     width: 22px;
     height: 22px;
     background-image: url("images/skipToEnd.gif");
 }
 
 .skipOneUp {
     border: none;
     width: 22px;
     height: 22px;
     background-image: url("images/skipOneUp.gif");
 }
 
 .skipOneBack {
     border: none;
     width: 22px;
     height: 22px;
     background-image: url("images/skipOneBack.gif")
 }
 
 button,
 input[type="text"],
 input[type="checkbox"] {
     display: inline-block;
     vertical-align: middle;
     margin: 1px;
 }
 
 .items {
     float: right;
     margin: 4px;
 }