body {
    overflow: hidden;
    background-color: greenyellow;
}

canvas {
    position: absolute;
}

#player-canvas {
    z-index: 10;
}

#pokeball-canvas {
    z-index: 5;
}

#background-canvas {
    z-index: 1;
}

.sprite-image {
    display: none;
}

#highscore {
    position: absolute;
    font-family: sans-serif;
    top: 100px;
    left: 560px;
    font-style: italic;
    font-size: 30px;
    color: darkcyan;
}