body {
    background-color: lightgreen;
}

#logo {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 60px;
    height: 220px;
    width: 250px;
    border-radius: 15%;
}

h1 {
    color: dimgray;
}

main-header {
    font-size: 50px;
}

header nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

#main-header {
    text-align: center;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border: 1px solid blueviolet;
    border-radius: 10%;
    background-color: orangered;
}

article header h1 {
    color: palevioletred;
    text-align: left;
    font-size: 25px;
}

article p {
    font-size: 17px;
}

body>footer {
    text-align: center;
    font-size: 17px;
}