<div id="add-event-container" class="row">
    <div class="col-sm-5">
        <h2>Add Event to list</h2>
    </div>
</div>
<form id="add-event-form">
    <div class="row">
        <div class="col-sm-10">
            <label for="tb-todo-text">Title</label>
            <input type="text" class="form-control" id="tb-event-title" placeholder="Event title" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <label for="tb-event-category">Description</label>
            <input type="text" class="form-control" id="tb-event-description" placeholder="Event Description" required>
        </div>
    </div>


    <div class="row">
        <h5 class="col-sm-offset-1"><label for="tb-todo-text">Select the users you want to involve in your event</label></h5> {{#each this.result}}
        <div class="checkbox-inline">
            <label><input class="involved-user" type="checkbox" value="{{this.username}}">{{this.username}}</label>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-sm-12">
            <input type="submit" id="btn-add-todo" class="btn btn-primary btn-md" value="Add">
        </div>
    </div>
</form>