<div class="row">
    <div class="col-sm-5">
        <h2>Login/Register</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <label for="tb-username">Username</label>
        <input type="text" class="form-control" id="tb-username" placeholder="Username" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <label for="tb-password">Password</label>
        <input type="password" class="form-control" id="tb-password" placeholder="Password" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button id="btn-login" class="btn btn-primary btn-md">Login</button>
        <button id="btn-register" class="btn btn-danger btn-md">Register</button>
    </div>
</div>