<div class="row">
    <h2 class="col-sm-5">Add your post here</h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <input class="form-control" id="tb-post-title" type="text" placeholder="title">
        <textarea class="form-control" rows="5" id="tb-post-content" type="text" placeholder="content"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-default" id="add-post">Add</button>
    </div>
</div>