<div class="row"><h2 class="col-sm-5">Login/Register</h2></div>
<div class="row">
    <div class="col-sm-4">
        <input class="form-control" id="tb-username" type="text" placeholder="username">
        <input class="form-control" id="tb-password" type="text" placeholder="password">
        <button class="btn btn-success" id="btn-login">Login</button>
        <button class="btn btn-danger" id="btn-register">Register</button>
    </div>
</div>