<h1>Login/Register Form</h1>
<input type="text" placeholder="Username" class="form-control" id="tb-user">
<input type="text" placeholder="password" class="form-control" id="tb-pass">
<div class="row">
<button id="btn-login" class="btn btn-default col-sm-6">Login</button>
<button id="btn-register" class="btn btn-danger col-sm-6">Register</button>
</div>