<h2>Login/Register</h2>
<div class="row">
    <form class="col-sm-4">
        <input type="text" class="form-control" id="tb-username" placeholder="Username">
        <input type="text" class="form-control" id="tb-password" placeholder="Password">
        <button id="btn-login" class="btn btn-primary">Login</button>
        <button id="btn-register" class="btn btn-success">Register</button>
    </form>
</div>